body{
	font-family: 'Raleway',sans-serif;
}

.container{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	padding-left: 20%;
	padding-top: 5%;
	padding-right: 20%;
	overflow: hidden;
}

hr{
	margin-bottom: 30px;
	margin-top: 20px;
}

input[type="text"],input[type="password"]{
	width: 100%;
	margin-bottom: 30px;
	margin-top: 5px;
	height: 27px;
	border-radius: 0px;
	border: solid black 1px;
}

input[type="submit"]{
	border-radius: 0px;
	height: 40px;
	width: 80px;
	border: 0px;
	color: white;
	background-color: #a902b3;
	float: right;
}

a{
	text-decoration: none;
}

hr{
	border: solid black 1px;
}
.logo{
	height: 65px;
	margin-bottom: 50px;
}

